
DATABASE_URL = ""
API_KEY = ""
# Get this value from my.telegram.org.

API_HASH = ""
# Get this value from my.telegram.org.

STRING_SESSION = ""
# Get this value by running [python3 string_session.py] in Termux or local system.

HEROKU_API_KEY = ""
# Your Heroku API key, get it from 'https://dashboard.heroku.com/account'

HEROKU_APP_NAME = ""
# Add the Heroku app name here. It helps with userbot updates.

UPSTREAM_REPO_URL = ""
# In case you maintain a fork, add your repo URL here.

UPSTREAM_REPO_BRANCH = "master"
# Default branch of your custom fork repo.

COUNTRY = ""
# Set your Country to be used in the .time and .date commands.

TZ_NUMBER = "1"
# Change this value in case your country has multiple Time Zones.

OPEN_WEATHER_MAP_APPID = ""
# Get your own APPID (API key)from https://api.openweathermap.org/data/2.5/weather

BOTLOG = "False"
# Incase you want to turn off logging, put this to false

BOTLOG_CHATID = "0"
# ChatID of the Log group. Set it to '0' if BOTLOG  =  False and/or if LOGSPAMMER  =  False.

CONSOLE_LOGGER_VERBOSE = "False"
# If you need verbosity on the console logging

PM_AUTO_BAN = "False"

OCR_SPACE_API_KEY = ""

REM_BG_API_KEY = ""
# API Key for .rbg command. Get from https://www.remove.bg/api

ANTI_SPAMBOT = "False"
# Kicks spambots from groups after they join. [Requires admin powers in groups to kick.]

ANTI_SPAMBOT_SHOUT = "False"
# Report spambots to @admins in groups after they join, just in case when you don't have admin powers to kick that shit yourself.

TMP_DOWNLOAD_DIRECTORY = "./dl"
# Download location for many modules (GDrive, .download etc..)

CLEAN_WELCOME = "False"
# When a new person joins, the old welcome message is deleted.

LASTFM_API = ""
# API Key for Last.FM module. [Get one from - https://www.last.fm/api/account/create]

LASTFM_SECRET = ""
# SECRET Key for Last.FM module. [Get one from - https://www.last.fm/api/account/create]

LASTFM_USERNAME = ""
# Last.FM Username

LASTFM_PASSWORD = ""
# Last.FM Password

BIO_PREFIX = ""
# Prefix for Last.FM Module Bio.

DEFAULT_BIO = "Hooman"
# Default profile bio.

G_DRIVE_DATA = ""
# Your client_secret.json.

GENIUS_ACCESS_TOKEN = ""
# Client Access Token from https://genius.com/api-clients.

WEATHER_DEFCITY = "id"
# Set the default city for the userbot's weather module.

WEATHER_DEFLANG = "id"
# Set the default language for the userbot's weather module.

TERM_ALIAS = ""
# Leave if u don't know

BOT_TOKEN = ""
# Create new bot and give BOT TOKEN

BOT_USERNAME = ""

ALIVE_NAME = ""

IMG_LIMIT = "3"

BITLY_TOKEN = ""
# Your Bit.ly API key, get it from 'https://bitly.com/a/sign_up'

LOGSPAMMER = "False"
# Set this to True in case you want the error logs to be stored in the userbot log group, instead of spitting out the file in the current chat, requires a valid BOTLOG_CHATID to be set.

WATCH_COUNTRY = "ID"
# Country code for justwatch.com

DEEZER_ARL_TOKEN = ""
# Input your DEEZER ARL TOKEN

TZ = "Asia/Makassar"
# Your timezone

G_PHOTOS_CLIENT_ID = ""
# get the client id from https://j.mp/39lWQQm

G_PHOTOS_CLIENT_SECRET = ""
# get the client secret from https://j.mp/39lWQQm

WOLFRAM_ID = ""
# Get an API KEY from products.wolframalpha.com/api/
